body{
    /* background: #292727; */
}


.nav{
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}
.nav-logo{
    font-family: Outfit;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;

}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
